
body{
    margin: 0;
    padding: 0;
    background-image: url(Background.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}
table{
    padding: 150px 0 0 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
h4{
    display: flex;
    justify-content: center;
    align-items: center;
}
input:focus{
    box-shadow: 4px 4px  40px 10px  #15f4ee;
}
#btn{
    border-radius: 5px;
    width:60px;
    height:30px;
    cursor: pointer;
    color: black;
    opacity: 0.6;
    transition: 0.5s ease;
}
#btn:hover{
    opacity: 1;
    font-size:15px;
    box-shadow:0 5px 50px 0 #15f4ee inset,0 5px 50px 0 #15f4ee,0 5px 50px 0 #15f4ee,0 5px 50px 0 #15f4ee;
}